@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");



.propaganda {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-left: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 10rem;
  border: 3px solid red;
  background-color: black;
}
.propaganda img {
  border-radius: 20px;
  border: 3px solid white;
  margin-right: 1rem; 
}

.propaganda h3 {
  color: white;
  font-size: 2rem;
  margin: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: justify;
  font-weight: normal;
}

body {
  background: #333333;
  margin: 0;
  padding: 0;
}

.navbar {
  border: solid 1px black;
  height: 100px;
  background: #0079bf;
  display: flex;
  border-bottom-style: inset;
}

.icon-cart {
  width: 48px;
  height: 48px;
  position: absolute;
  overflow: hidden;
  margin-top: 25px;
  left: 94.5%;
}

.icon-cart .cart-line-1 {
  width: 15%;
  height: 7%;
  position: absolute;
  left: 8%;
  top: 25%;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: #000;
  border-bottom-left-radius: 35%;
}

.icon-cart .cart-line-2 {
  width: 35%;
  height: 7%;
  position: absolute;
  left: 6%;
  top: 40%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  transform: rotate(80deg);
  background-color: #000;
}

.icon-cart .cart-line-2:before {
  content: "";
  width: 120%;
  height: 100%;
  position: absolute;
  left: 45%;
  top: -280%;
  -webkit-transform: rotate(-80deg);
  -moz-transform: rotate(-80deg);
  -ms-transform: rotate(-80deg);
  transform: rotate(-80deg);
  background-color: inherit;
}

.icon-cart .cart-line-2:after {
  content: "";
  width: 70%;
  height: 100%;
  position: absolute;
  left: 59%;
  top: -670%;
  background-color: inherit;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  border-top-left-radius: 50%;
  border-bottom-left-radius: 25%;
}

.icon-cart .cart-line-3 {
  width: 30%;
  height: 7%;
  position: absolute;
  left: 33%;
  top: 45%;
  background-color: #000;
}

.icon-cart .cart-line-3:after {
  content: "";
  width: 124%;
  height: 100%;
  position: absolute;
  top: -150%;
  left: -5%;
  background-color: inherit;
}

.icon-cart .cart-wheel {
  width: 12%;
  height: 12%;
  background-color: #000;
  border-radius: 100%;
  position: absolute;
  left: 28%;
  bottom: 20%;
}

.icon-cart .cart-wheel:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: inherit;
  border-radius: 100%;
  position: absolute;
  left: 200%;
  bottom: 0;
}

.sup {
  font-family: cursive;
  position: absolute;
  margin-top: 35px;
  left: 85%;
  font-size: 20px;
}
.sup a {
  text-decoration: none;
  color: white;
}
.sup a:hover {
  color: #ffd700;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  position: absolute;
  left: 1090px;
  bottom: 670px;
  width: 100px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: transparent;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.536);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #ffd700;

  color: #fff;
  transform: translateY(-7px);
}
.search-container {
  width: 490px;
  display: block;
  margin: 0 auto;
  position: relative;
  right: 40px;
  top: 25px;
  
}

input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1.5rem;
  border: 1px solid #d0cfce;
  outline: none;
  border-radius: 100px;
  
}

input#search-bar:focus {
  border: 1px solid #008abf;
  transition: 0.35s ease;
  color: #008abf;
}

input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.search-icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
.logo {
  position: absolute;
  bottom: 630px;
  left: 100px;
}
.infinito {
  width: 100px;
  height: 50px;
  position: absolute;
  box-sizing: content-box;
  margin-top: 5%;
  bottom: 650px;
  left: 30px;
}

.infinito::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50% 50% 0 50%;
  transform: rotate(-45deg);
}

.infinito::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 35px; /* width x2 */
  border: 10px solid rgb(255, 255, 255);
  border-radius: 50% 50% 0 50%;
  transform: rotate(135deg);
}

